<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js Components Fundamentals</title>
</head>

<body>
    <div id="app">
          <navbar></navbar>
          <div class="container">
            <digital-banking></digital-banking>
            <benefits></benefits>
            <articles></articles>
          </div>
         
    </div>

   
    <script type="text/x-template" id="articles">
        <div class="article-card">
            <article-card v-for="card in cards" :card="card"></article-card>
        </div>
    </script>

    <script type="text/x-template" id="article-card">
        <div>
            <img :src="card.img">
            <h4>{{card.title}}</h4>
            <p>{{card.subtitle}}</p>
        </div>
    </script>

    <script type="text/x-template" id="benefits">
        <div class="card">
            <card v-for="card in cards" :card='card'></card>
        </div>
    </script>

    <script type="text/x-template" id="card">
        <div>
        <img :src="card.img">
        <h4>{{card.title}}</h4>
        <p>{{card.description}}</p>
        </div>
    </script>
    
    <script type="text/x-template" id="digital-banking">
        <div class="column-main">
            <div class="column-first">
                <h1 class="hero-title">{{title}}</h1>
                <p class="sub-title">{{description}}</p>
                <button class="hero-cta">{{button}}</button>
            </div>
            <div class="hero-image">
                <img src="./images/image-mockups.png">
            </div>
        </div>
    
    </script>
    <script type="text/x-template" id="navbar-template"> 
        <div class="nav-container">
            <img class="nav-logo" src="./images/logo.svg">
            <div class="elements">
                <nav-element v-for="element in menu" :name="element"></nav-element>
            </div>
            <button>{{button}}</button>
        </div>
    </script>

    <script type="text/x-template" id="nav-menu-template">
        <span class="title">
            {{name}}
        </span>
    </script>

    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</body>
</html>