<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vue.js Components Fundamentals</title>
</head>

<body>
    <div id="app">
          <navbar v-if="!mobileView"></navbar>
          <div class="container">
            <navigation-mobile v-if="mobileView"></navigation-mobile>  
            <digital-banking></digital-banking>
            <benefits></benefits>
            <articles></articles>
            <landing-footer></landing-footer>
          </div>
         
    </div>

   
    <script type="text/x-template" id="nav-mobile">
        <div class="mobile-nav-main">
            <div class="mobile-top">
                <img src="./images/logo.svg">
                <div id="navigation-icon"
                    @click="showNav = !showNav,hidden = !hidden">
                    <img v-if="hidden" src="./images/icon-hamburger.svg">
                    <img v-if="!hidden" src="./images/icon-close.svg">
                </div>
            </div>    
            <div class="mobile-menu" :class="{'open':showNav}">
                <h4 v-for="element in menu">{{element}}</h4>
            </div>
        </div>
    </script>
    <script type="text/x-template" id="landing-footer">
        <div class="footer-class">
            <div class="column">
                <img src="./images/logo.svg">
                <div class="media-column">
                    <img v-for="media in socialmedia" :src="media">
                </div>
            </div>
            <div class="column">
                <p v-for="menu in menuone">{{menu}}</p>
            </div>
            <div class="column">
                <p v-for="menu in menutwo">{{menu}}</p>
            </div>
            <div class="footer-cta"><button>Request Invitation</button></div>
        </div>  
    </script>
    <script type="text/x-template" id="articles">
        <div class="articles">
            <h3 class="title">{{heading}}</h3>
            <div class="article-cards">
                <article-card v-for="card in cards" :card="card"></article-card>
            </div>
        </div>
    </script>

    <script type="text/x-template" id="article-card">
        <div class="article-card">
            <img :src="card.img">
            <h4>{{card.title}}</h4>
            <p>{{card.subtitle}}</p>
        </div>
    </script>

    <script type="text/x-template" id="benefits">
        <div class="benefits">
            <h3 class="benefit-title">{{title}}</h3>
            <p class="benefit-subtitle">{{subtitle}}</p>
            <div class="benefit-cards">
                <card v-for="card in cards" :card='card'></card>
            </div>
        </div>
        
    </script>

    <script type="text/x-template" id="card">
        <div class="benefit-card">
        <img :src="card.img">
        <h4>{{card.title}}</h4>
        <p>{{card.description}}</p>
        </div>
    </script>
    
    <script type="text/x-template" id="digital-banking">
        <div class="column-main">
            <div class="column-first">
                <h1 class="hero-title">{{title}}</h1>
                <p class="hero-sub-title">{{description}}</p>
                <button class="hero-cta">{{button}}</button>
            </div>
            <div class="hero-image">
                <img src="./images/image-mockups.png">
            </div>
        </div>
    
    </script>
    <script type="text/x-template" id="navbar-template"> 
        <div class="nav-container">
            <img class="nav-logo" src="./images/logo.svg">
            <div class="elements">
                <nav-element v-for="element in menu" :name="element"></nav-element>
            </div>
            <button>{{button}}</button>
        </div>
    </script>

    <script type="text/x-template" id="nav-menu-template">
        <span class="nav-title">
            {{name}}
        </span>
    </script>

    <script src="https://unpkg.com/vue"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css">
</body>
</html>