body {
    background-color: #f9f9f9;
    margin: auto;
}

.nav-container {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem
    
}
.elements {
    display: flex;
    justify-content: space-between;
    width: 35%;
}
.column-main {
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
}
.column-first {
    width: 50%
}
.hero-image {
    background: url('./images/bg-intro-desktop.svg');
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    width: 46%
}
.hero-image > img {
    width: 80%
}