body {
    background-color: #f8f8f8;
}

.nav-container {
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    padding: 2rem 5rem
    
}
.elements {
    display: flex;
    justify-content: space-between;
    width: 35%;
}